body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-family: sans-serif;
}

.header .main {
    font-size: 24px;
    font-weight: bold;
    color: #E5E7EB;
}

.header .link {
    font-size: 18px;
    color: #E5E7EB
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    font-family: sans-serif;
}

.top .container {
    width: 500px;
}

.top .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 10px 0px;
}

.top .text {
    font-size: 18px;
    color:#E5E7EB;
    margin: 10px 0px;
}

.top button {
    background-color: #3882F6;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: 0;
}

.middle {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.middle .title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
}

.middle .container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.middle .text {
    text-align: center;
}

.middle img {
    border-radius: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#1F2937;
    font-family: sans-serif;
    background-color: #E5E7EB;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.quote .author {
    font-size: 18px;
    font-weight: bold;
    margin-left: 900px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 50px;
    
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB
}