body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-family: sans-serif;
}

.header .main {
    font-size: 24px;
    font-weight: bold;
    color: #E5E7EB
}

.header .link {
    font-size: 18px;
    color: #E5E7EB
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB
}